<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/listaPessoas.css" type="text/css">
  <title>Pessoas cadastradas</title>
</head>
<body>
  <header>
    <h1>Pessoas cadastradas</h1>
    <section class="subtitle">
      <p>/ - index (cadastrar pessoa)</p>
      <p>/pessoas - lista todas as pessoas</p>
      <p>/pessoas/:id - lista uma pessoa por ID</p>
    </section>
  </header>
  
  <div class="container">
    <%pessoasList.forEach((pessoa) => {%>
      <ul style="list-style: none">
        <li>ID: <%= pessoa._id %> </li>
        <li>Nome: <%= pessoa.nome %> </li>
        <li>Sobrenome: <%= pessoa.sobrenome %> </li>
        <li>Idade: <%= pessoa.idade %> </li>
        <li>Profissão: <%= pessoa.profissao %> </li>
      </ul>
    <%})%>
  </div>
</body>
</html>